.note {
    font-size:15px;
    color:black;
}

.copy_right_footer {
    position:fixed;
    color:White;
    bottom:0;
    width:100%;
    background-color:rgb(69, 61, 61);
    line-height: 4;
    text-align:center ;
    z-index:99999;
}

canvas{
    border:7px solid white;
    border-radius:20px;
    box-shadow: 7px 7px 7px grey;
}
#square_side{
    font-size:20px;
    color: black;
}